//content
.content {
  .title-el {

    padding: 20px 0 10px 0;
    color: #777;
    font-size: 18px;
    border-bottom: 1px solid #ccc;

  }
  //wrapper
  .wrapper {
    position: relative;
    margin: 0 auto;
    border: 0;
  }
}



