<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务信息</title>
    <link rel="stylesheet" href="../assert/bootstrap-3.3.5-dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <form method="post" action="../business">
                <div class="form-group">
                    <label for="name">名称</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="业务名称">
                </div>
                <div class="form-group">
                    <label for="type">类型</label>
                    <input type="type" class="form-control" id="type" name="type" placeholder="业务类型">
                </div>
                <div class="form-group">
                    <label for="description">描述</label>
                    <input type="description" class="form-control" id="description" name="description">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>