<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>律师信息</title>
    <link rel="stylesheet" href="../assert/bootstrap-3.3.5-dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <form method="post" action="../lawer">
                <div class="form-group">
                    <label for="jobNumber">工号</label>
                    <input type="jobNumber" class="form-control" id="jobNumber" name="jobNumber" placeholder="jobNumber">
                </div>
                <div class="form-group">
                    <label for="lawerName">律师姓名</label>
                    <input type="lawerName" class="form-control" id="lawerName" name="lawerName" placeholder="lawerName">
                </div>
                <div class="form-group">
                    <label for="avatar">头像</label>
                    <input type="avatar" class="form-control" id="avatar"  name="avatar">
                </div>
                <div class="form-group">
                    <label for="gender">性别</label>
                    <input type="gender" class="form-control" id="gender" name="gender">
                </div>
                <div class="form-group">
                    <label for="age">年龄</label>
                    <input type="age" class="form-control" id="age" name="age">
                </div>
                <div class="form-group">
                    <label for="phone">手机号</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="wechatId">微信Id</label>
                    <input type="wechatId" class="form-control" id="wechatId" name="wechatId">
                </div>
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="description">描述</label>
                    <input type="description" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label for="position">职位</label>
                    <input type="position" class="form-control" id="position" name="position">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>