<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>湖北省忠仁信法律服务咨询有限公司</title>
    <link href="css/base.css" rel="stylesheet" />
    <link rel="shortcut icon" href="imgs/law.ico" />
    <link rel="stylesheet" href="assert/fullpage/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="css/homepage.css" />

    <link href="css/index.css" rel="stylesheet" />
    <script src="./assert/jquery/jquery-3.1.1.min.js"></script>
    <script src="./assert/jquery/jquery-ui.min.js"></script>
    <script src="./assert/fullpage/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="./js/homepage.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#fullpage').fullpage({
                'verticalCentered': false,
                'css3': true,
                // 'sectionsColor': ['#F0F2F4', '#fff', '#fff', '#fff'],
                'navigation': true,
                'navigationPosition': 'right',
                //'navigationTooltips': ['fullPage.js', 'Powerful', 'Amazing', 'Simple'],
                'navigationTooltips': ['', '', '', ''],

                'afterLoad': function (anchorLink, index)
                {
                    if (index == 2) {
                        $('#iphone3, #iphone2, #iphone4').addClass('active');
                    }
                },

                'onLeave': function (index, nextIndex, direction)
                {
                    if (index == 3 && direction == 'down') {
                        $('.section').eq(index - 1).removeClass('moveDown').addClass('moveUp');
                    }
                    else if (index == 3 && direction == 'up') {
                        $('.section').eq(index - 1).removeClass('moveUp').addClass('moveDown');
                    }

                    $('#staticImg').toggleClass('active', (index == 2 && direction == 'down') || (index == 4 && direction == 'up'));
                    $('#staticImg').toggleClass('moveDown', nextIndex == 4);
                    $('#staticImg').toggleClass('moveUp', index == 4 && direction == 'up');
                }
            });
        });
    </script>
</head>
<body>
    <div id="fullpage">
        <h1>test</h1>
    </div>
</body>
</html>
