<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sub</title>

    <link rel="stylesheet" href="viewmodel/stylesheets/sass/sub-import.css">



</head>
<body>


<header role="banner" >

    <nav class="navbar navbar-default">
        <div class="container">
            <div  class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                    <li><a href="#" data-nav-section="services"><span>法律服务</span></a></li>
                    <li><a href="#" data-nav-section="team"><span>律师团队</span></a></li>

                    <li><a href="#" data-nav-section="practice-areas"><span>实践领域</span></a></li>

                    <li><a href="#" data-nav-section="contact"><span>关于我们</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="content">

    <div class="title-el">律师信息</div>
</div>


</body>
</html>