<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="assert/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
    <span v-text="message"></span>
</div>

<div id="test" v-bind:title="message">
</div>
<script>
       new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue'
            }
        });

       new Vue({
            el: '#test',
            data: {
                message: 'safdsf'
            }
        });
</script>

</body>
</html>